<a href="https://colab.research.google.com/github/ahorvath008/Internal-Audit/blob/main/India%20Pricing%20Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_excel('Product Price Data.xlsx', index_col='Vendor')

In [ ]:
df.head(3)

,Block Status,Article Number,Article Description,Vendor Name,Prior Vendor,Prior Vendor Name,Site,Contract No,Contract Item,Tax Code,...,Purchasing Group,Purchasing Group Desc.,Acc. Assg. Cat.,Inflation Adj Amount,Tax Amount,Currency,DC Charge,Rebate With Prior Vendor,Valid From.1,Valid To.1
Vendor,,,,,,,,,,,,,,,,,,,,,
10000003,NO,200989,Paneer Milky Mist 1X1Kg,Archana Enterprises,NaN,NaN,1063,4600000003,30,V5,...,106,Dairy,NaN,0,10.86,INR,0.0,NaN,NaN,NaN
10000003,YES,200989,Paneer Milky Mist 1X1Kg,Archana Enterprises,NaN,NaN,1064,4600000003,50,V5,...,106,Dairy,NaN,0,9.96,INR,0.0,NaN,NaN,NaN
10000003,NO,200989,Paneer Milky Mist 1X1Kg,Archana Enterprises,NaN,NaN,1061,4600000003,70,V5,...,106,Dairy,NaN,0,10.86,INR,0.0,NaN,NaN,NaN

In [ ]:
df.nlargest(50,'Contract Price')

,Block Status,Article Number,Article Description,Vendor Name,Prior Vendor,Prior Vendor Name,Site,Contract No,Contract Item,Tax Code,...,Purchasing Group,Purchasing Group Desc.,Acc. Assg. Cat.,Inflation Adj Amount,Tax Amount,Currency,DC Charge,Rebate With Prior Vendor,Valid From.1,Valid To.1
Vendor,,,,,,,,,,,,,,,,,,,,,
10000375,NO,700331,Transportation Charges,Joshua Travels,NaN,NaN,1094,4700000005,50,V0,...,111,Non Food Service,K,0,0.00,INR,0.0,NaN,NaN,NaN
10000375,NO,700331,Transportation Charges,Joshua Travels,NaN,NaN,1113,4700000005,130,V0,...,111,Non Food Service,K,0,0.00,INR,0.0,NaN,NaN,NaN
10000375,NO,700331,Transportation Charges,Joshua Travels,NaN,NaN,106J,4700000005,10,V0,...,111,Non Food Service,K,0,0.00,INR,0.0,NaN,NaN,NaN
10000375,NO,700331,Transportation Charges,Joshua Travels,NaN,NaN,106K,4700000005,20,V0,...,111,Non Food Service,K,0,0.00,INR,0.0,NaN,NaN,NaN
10000375,NO,700331,Transportation Charges,Joshua Travels,NaN,NaN,106M,4700000005,30,V0,...,111,Non Food Service,K,0,0.00,INR,0.0,NaN,NaN,NaN
10000375,NO,700331,Transportation Charges,Joshua Travels,NaN,NaN,106L,4700000005,40,V0,...,111,Non Food Service,K,0,0.00,INR,0.0,NaN,NaN,NaN
10000375,NO,700331,Transportation Charges,Joshua Travels,NaN,NaN,106N,4700000005,60,V0,...,111,Non Food Service,K,0,0.00,INR,0.0,NaN,NaN,NaN
10000375,NO,700331,Transportation Charges,Joshua Travels,NaN,NaN,106O,4700000005,70,V0,...,111,Non Food Service,K,0,0.00,INR,0.0,NaN,NaN,NaN
10000375,NO,700331,Transportation Charges,Joshua Travels,NaN,NaN,106P,4700000005,80,V0,...,111,Non Food Service,K,0,0.00,INR,0.0,NaN,NaN,NaN
10000375,NO,700331,Transportation Charges,Joshua Travels,NaN,NaN,106Q,4700000005,90,V0,...,111,Non Food Service,K,0,0.00,INR,0.0,NaN,NaN,NaN
10000375,NO,700331,Transportation Charges,Joshua Travels,NaN,NaN,106S,4700000005,100,V0,...,111,Non Food Service,K,0,0.00,INR,0.0,NaN,NaN,NaN
10000375,NO,700331,Transportation Charges,Joshua Travels,NaN,NaN,110U,4700000005,120,V0,...,111,Non Food Service,K,0,0.00,INR,0.0,NaN,NaN,NaN
30000592,YES,700318,Rental - Vehical (Per Day),Sandeep Wastage,NaN,NaN,105O,4700000001,10,SZ,...,111,Non Food Service,K,0,0.00,INR,0.0,NaN,NaN,NaN
10000885,NO,400696,Chain Gloves Imported SS 1X1No,SANA ENTERPRISES,NaN,NaN,1113,4600000675,3710,VB,...,113,Non Food Stock,K,0,1000.00,INR,0.0,NaN,NaN,NaN
10000885,NO,400696,Chain Gloves Imported SS 1X1No,SANA ENTERPRISES,NaN,NaN,1135,4600000675,6750,VP,...,113,Non Food Stock,K,0,1080.00,INR,0.0,NaN,NaN,NaN
10000885,NO,400696,Chain Gloves Imported SS 1X1No,SANA ENTERPRISES,NaN,NaN,1137,4600000675,7510,VP,...,113,Non Food Stock,K,0,1080.00,INR,0.0,NaN,NaN,NaN
10000885,NO,400696,Chain Gloves Imported SS 1X1No,SANA ENTERPRISES,NaN,NaN,106O,4600000675,670,VB,...,113,Non Food Stock,K,0,1000.00,INR,0.0,NaN,NaN,NaN
10000885,NO,400696,Chain Gloves Imported SS 1X1No,SANA ENTERPRISES,NaN,NaN,106Q,4600000675,1430,VB,...,113,Non Food Stock,K,0,1000.00,INR,0.0,NaN,NaN,NaN
10000885,NO,400696,Chain Gloves Imported SS 1X1No,SANA ENTERPRISES,NaN,NaN,106N,4600000675,2190,VB,...,113,Non Food Stock,K,0,1000.00,INR,0.0,NaN,NaN,NaN
10000885,NO,400696,Chain Gloves Imported SS 1X1No,SANA ENTERPRISES,NaN,NaN,106S,4600000675,2950,VB,...,113,Non Food Stock,K,0,1000.00,INR,0.0,NaN,NaN,NaN
10000885,NO,400696,Chain Gloves Imported SS 1X1No,SANA ENTERPRISES,NaN,NaN,110U,4600000675,4470,VB,...,113,Non Food Stock,K,0,1000.00,INR,0.0,NaN,NaN,NaN
10000885,NO,400696,Chain Gloves Imported SS 1X1No,SANA ENTERPRISES,NaN,NaN,110V,4600000675,5230,VB,...,113,Non Food Stock,K,0,1000.00,INR,0.0,NaN,NaN,NaN
10000885,NO,400696,Chain Gloves Imported SS 1X1No,SANA ENTERPRISES,NaN,NaN,111L,4600000675,5990,VB,...,113,Non Food Stock,K,0,1000.00,INR,0.0,NaN,NaN,NaN
10000885,NO,400696,Chain Gloves Imported SS 1X1No,SANA ENTERPRISES,NaN,NaN,112R,4600000675,8060,VP,...,113,Non Food Stock,K,0,1080.00,INR,0.0,NaN,NaN,NaN
10000928,NO,201719,Lobster Unbranded Meat 1*1kg,HONEY MONEY TOP,NaN,NaN,1069,4600000558,7270,V6,...,106,Dairy,NaN,0,325.50,INR,0.0,NaN,NaN,NaN
20000042,NO,301630,Chemical Diversy Clax 100L 1X5Kg,SEAPAC MARINE SERVICES,NaN,NaN,1094,4600000109,65080,V3,...,108,Meat and Poultry,NaN,0,823.14,INR,0.0,NaN,NaN,NaN
20000042,NO,301630,Chemical Diversy Clax 100L 1X5Kg,SEAPAC MARINE SERVICES,NaN,NaN,1122,4600000109,67240,V3,...,108,Meat and Poultry,NaN,0,823.14,INR,0.0,NaN,NaN,NaN
20000042,NO,301630,Chemical Diversy Clax 100L 1X5Kg,SEAPAC MARINE SERVICES,NaN,NaN,106I,4600000109,64000,V3,...,108,Meat and Poultry,NaN,0,823.14,INR,0.0,NaN,NaN,NaN
20000042,NO,301630,Chemical Diversy Clax 100L 1X5Kg,SEAPAC MARINE SERVICES,NaN,NaN,110M,4600000109,66160,V3,...,108,Meat and Poultry,NaN,0,823.14,INR,0.0,NaN,NaN,NaN
10000885,NO,400640,Mixer Grinder Panasonic Heavyw3Jar 1X1No,SANA ENTERPRISES,NaN,NaN,1113,4600000675,3150,VB,...,113,Non Food Stock,K,0,606.25,INR,0.0,NaN,NaN,NaN
10000885,NO,400640,Mixer Grinder Panasonic Heavyw3Jar 1X1No,SANA ENTERPRISES,NaN,NaN,1135,4600000675,6190,VP,...,113,Non Food Stock,K,0,654.75,INR,0.0,NaN,NaN,NaN
10000885,NO,400640,Mixer Grinder Panasonic Heavyw3Jar 1X1No,SANA ENTERPRISES,NaN,NaN,1137,4600000675,6950,VP,...,113,Non Food Stock,K,0,654.75,INR,0.0,NaN,NaN,NaN
10000885,NO,400640,Mixer Grinder Panasonic Heavyw3Jar 1X1No,SANA ENTERPRISES,NaN,NaN,106O,4600000675,110,VB,...,113,Non Food Stock,K,0,606.25,INR,0.0,NaN,NaN,NaN
10000885,NO,400640,Mixer Grinder Panasonic Heavyw3Jar 1X1No,SANA ENTERPRISES,NaN,NaN,106Q,4600000675,870,VB,...,113,Non Food Stock,K,0,606.25,INR,0.0,NaN,NaN,NaN
10000885,NO,400640,Mixer Grinder Panasonic Heavyw3Jar 1X1No,SANA ENTERPRISES,NaN,NaN,106N,4600000675,1630,VB,...,113,Non Food Stock,K,0,606.25,INR,0.0,NaN,NaN,NaN
10000885,NO,400640,Mixer Grinder Panasonic Heavyw3Jar 1X1No,SANA ENTERPRISES,NaN,NaN,106S,4600000675,2390,VB,...,113,Non Food Stock,K,0,606.25,INR,0.0,NaN,NaN,NaN
10000885,NO,400640,Mixer Grinder Panasonic Heavyw3Jar 1X1No,SANA ENTERPRISES,NaN,NaN,110U,4600000675,3910,VB,...,113,Non Food Stock,K,0,606.25,INR,0.0,NaN,NaN,NaN
10000885,NO,400640,Mixer Grinder Panasonic Heavyw3Jar 1X1No,SANA ENTERPRISES,NaN,NaN,110V,4600000675,4670,VB,...,113,Non Food Stock,K,0,606.25,INR,0.0,NaN,NaN,NaN
10000885,NO,400640,Mixer Grinder Panasonic Heavyw3Jar 1X1No,SANA ENTERPRISES,NaN,NaN,111L,4600000675,5430,VB,...,113,Non Food Stock,K,0,606.25,INR,0.0,NaN,NaN,NaN
10000885,NO,400640,Mixer Grinder Panasonic Heavyw3Jar 1X1No,SANA ENTERPRISES,NaN,NaN,112R,4600000675,7690,VP,...,113,Non Food Stock,K,0,654.75,INR,0.0,NaN,NaN,NaN
30001224,NO,700340,Bosite Safety Course,Rajdeep Offshore Management Service,NaN,NaN,1113,4700000004,80,V0,...,111,Non Food Service,K,0,0.00,INR,0.0,NaN,NaN,NaN
30001224,NO,700340,Bosite Safety Course,Rajdeep Offshore Management Service,NaN,NaN,106N,4700000004,10,V0,...,111,Non Food Service,K,0,0.00,INR,0.0,NaN,NaN,NaN
30001224,NO,700340,Bosite Safety Course,Rajdeep Offshore Management Service,NaN,NaN,106O,4700000004,20,V0,...,111,Non Food Service,K,0,0.00,INR,0.0,NaN,NaN,NaN
30001224,NO,700340,Bosite Safety Course,Rajdeep Offshore Management Service,NaN,NaN,106P,4700000004,30,V0,...,111,Non Food Service,K,0,0.00,INR,0.0,NaN,NaN,NaN
30001224,NO,700340,Bosite Safety Course,Rajdeep Offshore Management Service,NaN,NaN,106Q,4700000004,40,V0,...,111,Non Food Service,K,0,0.00,INR,0.0,NaN,NaN,NaN
30001224,NO,700340,Bosite Safety Course,Rajdeep Offshore Management Service,NaN,NaN,106S,4700000004,50,V0,...,111,Non Food Service,K,0,0.00,INR,0.0,NaN,NaN,NaN
30001224,NO,700340,Bosite Safety Course,Rajdeep Offshore Management Service,NaN,NaN,108O,4700000004,60,V0,...,111,Non Food Service,K,0,0.00,INR,0.0,NaN,NaN,NaN
30001224,NO,700340,Bosite Safety Course,Rajdeep Offshore Management Service,NaN,NaN,110U,4700000004,70,V0,...,111,Non Food Service,K,0,0.00,INR,0.0,NaN,NaN,NaN
30001224,NO,700340,Bosite Safety Course,Rajdeep Offshore Management Service,NaN,NaN,110V,4700000004,90,V0,...,111,Non Food Service,K,0,0.00,INR,0.0,NaN,NaN,NaN
30001224,NO,700340,Bosite Safety Course,Rajdeep Offshore Management Service,NaN,NaN,111L,4700000004,100,V0,...,111,Non Food Service,K,0,0.00,INR,0.0,NaN,NaN,NaN

In [ ]:
df_xlsx['Tax Rate'] = df_xlsx['Tax Amount'] / df_xlsx['ITU Price Incl. Tax']

In [ ]:
df_xlsx['Contract Price'].median()

60.0

In [ ]:
df_xlsx.describe()

,Article Number,Prior Vendor,Contract No,Contract Item,Contract Price,Compass Uplift,Compass Uplift %,DC Charge %,Inflation Adj %,Rebate With Main Vendor,...,ITU Price Incl. Tax,Region,Purchasing Group,Inflation Adj Amount,Tax Amount,DC Charge,Rebate With Prior Vendor,Valid From.1,Valid To.1,Tax Rate
count,4.177500e+04,3.247000e+03,4.177500e+04,41775.000000,41775.000000,41775.000000,41775.000000,41775.000000,41775.0,9326.000000,...,41775.000000,41775.000000,41775.000000,41775.0,41750.000000,41775.000000,0.0,0.0,0.0,41750.000000
mean,7.819752e+07,1.279701e+07,4.600199e+09,6022.404309,154.184346,4.608822,4.190961,0.769005,0.0,155.883980,...,169.647735,17.270904,107.123279,0.0,9.874683,0.985794,NaN,NaN,NaN,0.046458
std,8.062241e+07,5.736123e+06,4.452996e+06,10728.265211,597.171266,33.596699,15.901933,2.709844,0.0,33.405845,...,616.805616,10.777134,3.132658,0.0,33.586907,7.287563,NaN,NaN,NaN,0.046373
min,1.021460e+05,1.000003e+07,4.600000e+09,10.000000,0.000000,0.000000,0.000000,0.000000,0.0,107.000000,...,0.000000,1.000000,101.000000,0.0,0.000000,0.000000,NaN,NaN,NaN,0.000000
25%,3.000260e+05,1.000023e+07,4.600000e+09,680.000000,22.310000,0.000000,0.000000,0.000000,0.0,126.000000,...,24.800000,10.000000,105.000000,0.0,0.000000,0.000000,NaN,NaN,NaN,0.000000
50%,1.009880e+08,1.000076e+07,4.600001e+09,2420.000000,60.000000,0.000000,0.000000,0.000000,0.0,147.000000,...,65.000000,13.000000,107.000000,0.0,1.400000,0.000000,NaN,NaN,NaN,0.047619
75%,1.045130e+08,1.000140e+07,4.600001e+09,6520.000000,150.000000,0.000000,0.000000,0.000000,0.0,189.000000,...,164.000000,22.000000,108.000000,0.0,8.270000,0.000000,NaN,NaN,NaN,0.053333
max,2.022540e+08,3.000063e+07,4.700000e+09,71290.000000,30000.000000,1871.580000,406.000000,52.780000,0.0,211.000000,...,30000.000000,36.000000,114.000000,0.0,1080.000000,206.340000,NaN,NaN,NaN,0.200001

In [ ]:
df_xlsx['Tax Amount']

Vendor
10000003    10.86
10000003     9.96
10000003    10.86
10000003    10.86
10000003    10.86
            ...
10001391     0.00
10001391     0.00
10001391     0.00
10001391     0.00
10001391     0.00
Name: Tax Amount, Length: 41775, dtype: float64

In [ ]:
df_xlsx['Tax Amount'].value_counts(normalize=True)

0.00      0.378323
13.75     0.005006
1.20      0.004719
0.90      0.004623
0.45      0.004455
            ...
134.05    0.000024
30.37     0.000024
31.76     0.000024
29.45     0.000024
21.18     0.000024
Name: Tax Amount, Length: 2197, dtype: float64

In [ ]:
df_xlsx['Region Description'].value_counts(normalize=True)

Maharashtra      0.276026
Telangana        0.195811
Karnataka        0.162777
Tamil Nadu       0.114159
Gujarat          0.090389
Haryana          0.090293
Andra Pradesh    0.021544
Uttar Pradesh    0.021520
Delhi            0.018935
West Bengal      0.008546
Name: Region Description, dtype: float64

In [ ]:
region_grp = df_xlsx.groupby(['Region Description'])

In [ ]:
region_grp.get_group('Tamil Nadu')

NameError: name 'region_grp' is not defined

In [ ]:
region_grp['Merchandise Description'].value_counts()

Region Description  Merchandise Description
Andra Pradesh       SUS-Others-Uniform         160
                    FS-Disposbl-Hyg Prod       152
                    Dry Groc-Spic&DryFrt       114
                    Dry Groc-Cer Pls Flr        58
                    Fruit & Veg-Veg             52
                                              ...
West Bengal         Dairy-Butter&Spread          1
                    Dairy-Frozen                 1
                    Dairy-Milk                   1
                    Hot Beverages-Coffee         1
                    Hot Beverages-Tea            1
Name: Merchandise Description, Length: 420, dtype: int64

In [ ]:
df_xlsx['Vendor Name'].apply(len)

In [ ]:
df_xlsx['Article Description'].str.split('', expand=True)

In [ ]:
df_xlsx.drop(columns=['Currency'], inplace=True)

In [ ]:
df_xlsx.sort_values(by=['Contract Price', 'Compass Uplift %'], ascending=False)

In [ ]:
df_xlsx['Contract From'] = pd.to_datetime(df_xlsx['Contract From'], format='%d/%b/%Y')
df_xlsx['Contract To'] = pd.to_datetime(df_xlsx['Contract To'],  format='%d/%b/%Y')

In [ ]:
df_uplift = df_active.sort_values(by='Compass Uplift %'), ascending=False)

In [ ]:
filt_product = df_xlsx['Article Description'].str.contains('Butter,', na=False)
df_xlsx.loc[filt_product, 'Article Description']

In [ ]:
def update_vendor (Vendor_Name):
    return Vendor_Name.upper()

In [ ]:
df_xlsx['Vendor Name'].apply(update_vendor)

In [ ]:
regions = ['Delhi', 'Maharashtra', 'Haryana', 'Gujarat', 'West Bengal']
filt = df_xlsx['Region Description'].isin(regions)

In [ ]:
df_xlsx.loc[filt, 'Region Description']

In [ ]:
df_active = df_xlsx.loc[(df_xlsx['Block Status'] == 'NO')]

In [ ]:
df_active.head(10)

In [ ]:
df_price = df_active.sort_values(['ITU Price Incl. Tax'],  ascending=False)

In [ ]:
df_price.head(10)

In [ ]:
df_uplift = df_active.sort_values(['Compass Uplift %'], ascending=False)

In [ ]:
df_uplift.head(10)

In [ ]:
df_uplift = df_active.sort_values(['Compass Uplift %'], ascending=False)

In [ ]:
highuplift = (df_uplift['Compass Uplift %'] > 100)

In [ ]:
df_uplift.loc[highuplift, ['Vendor Name', 'Site', 'Article Number']]